* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 38px;
    
  }
  
  a{
    color: inherit;
  }
  
  
  /* Utility Classes */
  .tag-item {
    background: 0 0;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 50px;
    padding: 9px 15px 7px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.1;
    margin-right: 9px;
    transition: all 300ms ease;
  }
  
  .tag-item:hover {
    background-color: #2c5398;
    cursor: pointer;
    color: white;
  }
  
  .logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
  
  /* Navbar */
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    background: #5f021f
    position: sticky; 
    top: 0;
    padding: 60px;
  }
  
  .nav-login {
    background-color: #f9a03f;
  }
  
  .nav-login a:hover {
    background-color: #990033;
  }
  
  .nav .nav-header {
    display: inline;
  }
  
  .nav .nav-header .nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    color: #000;
  }
  
  .nav .nav-btn {
    display: none;
  }
  
  .nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav .nav-links  a {
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
  }
  
  .nav .nav-links a:hover {
    background-color: #f6e8b7;
  }
  
  .nav #nav-check {
    display: none;
  }
  
  @media (max-width:800px) {
    .nav .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav .nav-btn label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #660000;
    }
    .nav .nav-btn label span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav .nav-links a {
      display: block;
      width: 100%;
    }
    .nav #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav #nav-check:checked ~ .nav-links {
      height: 100vh;
      overflow-y: auto;
    }
  }
  /* Showcase */
  /*alterar Showcase para que ele não se estenda por debaixo do navbar*/
  .showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    background: url('https://i.ibb.co/yYRSJDR/718z-JKFz-XXL-UF1000-1000-QL80.jpg') center center/cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
    text-align: center;
  }
  
  .showcase-destinos {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('https://www.melhoresdestinos.com.br/wp-content/uploads/2019/05/passagens-atenas-ilhas-gregas-grecia-capa2019-01.jpg') center center/cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: color;
    text-align: center;
  }
  
  .showcase-destinos .showcase-container h2 {
    font-size: 2.5rem ;
  }
  
  .showcase-destinos .showcase-container p {
    margin: 15px 0 ;
    font-size: 1.2rem;
  }
  
  .showcase-restaurante {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('https://ultragazempresas.com.br/wp-content/uploads/2019/01/takeshi_foto.jpg') center center/cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: color;
    text-align: center;
  }
  
  .showcase-restaurante .showcase-container h2 {
    font-size: 2.5rem ;
  }
  
  .showcase-restaurante .showcase-container p {
    margin: 15px 0 ;
    font-size: 1.2rem;
  }
  
  .showcase-hotel {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('https://lirp.cdn-website.com/1d1cae4e/dms3rep/multi/opt/DSC_1802+-+FILICO-1920w.jpg') center center/cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: color;
    text-align: center;
  }
  
  .showcase-hotel .showcase-container h2 {
    font-size: 2.5rem ;
  }
  
  .showcase-hotel .showcase-container p {
    margin: 15px 0 ;
    font-size: 1.2rem;
  }
  
  .showcase-container p {
    margin: 15px 0 ;
    font-size: 1.5rem;
  }
  
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .showcase-container h2 {
    font-size: 3.5rem ;
  }
  
  .showcase-container p {
    margin: 15px 0 ;
    font-size: 1.5rem;
  }
  
  .tags-container {
    display: flex;
    align-content: space-between;
  }
  
  /* Page */
  #page {
    background-color: rgb(242, 242, 242);
  }
  
  /* Page About */
  #page .page-about {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: center;
  }
  
  #page .about-title{
    text-align: center;
    color: #660000 ;
    font-size: 35px;
    margin-bottom: 8px;
  }
  
  #page .about-subtitle {
    text-align: center;
    width: 80%;
  }
  
  #page .about-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  #page .about-feature-content {
    margin-left: 25px;
    text-align:justify;
  }
  
  #page .about-conteudo .about-subtitulo{
    color: #636363;
    border-bottom: solid #2c5398 1px;
  }
  
  #page .about-feature-itens {
    display: flex;
    margin-right: 5%;
    align-items: center;
  }
  
  #page .about-feature-itens:not(:first-child) {
    margin-top: 3%;
  }
  
  #page .about-feature-itens i {
    box-shadow: 3px 4px 3px 4px rgba(0, 0, 0, 0.348);
    border-radius: 100%;
    margin-right: 10px;
    padding: 20px;
  }
  
  #page .about-image img {
    display: flex;
    height: 435px;
    width: 570px;
    border-radius: 20px;
  }
  
  @media screen and (max-width: 1250px) {
    #page .about-image img {
      height: 305px;
      width: 400px;
      border-radius: 20px;
    }
  
    
    .showcase .showcase-container h2 {
      font-size: 2.5rem ;
    }
  }
  
  @media screen and (max-width: 950px) {
    #page .about-conteudo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 0px;
      margin: 30px 0px 0px 0px;
    }
  
    #page .about-feature {
      margin-bottom: 30px;
    }
    
    #page .about-feature-itens .about-feature-content {
      line-height: 25px;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    #page .about-feature-itens .about-feature-content {
      line-height: 20px;
      margin: 0;
      font-size: 15px;
    }
    
    #page .about-subtitle {
      font-size: 18px;
      line-height: 30px;
    }
  
    #page .about-image img {
      height: 205px;
      width: 300px;
      border-radius: 20px;
    }
  }
  
  /* Card */
  
  .card-nobootstrap-background {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f9a03f;
    padding: 40px;
  
    text-align: center;
  }
  
  .card-title-up{
    color: #fff;
  }
  
  .card-nobootstrap {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .card-nobootstrap-content {
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.609);
  }
  
  .card-nobootstrap-image {
    height: 250px;
    background-color: #f9a03f; 
  }
  
  .card-nobootstrap-text {
    padding: 15px 10px;
    text-align: center;
    color: #242424;
  }
  
  .card-nobootstrap-text h2 {
    letter-spacing: 1.5px;
    color: #203e72;
  }
  
  .card-nobootstrap-text p {
    margin: 15px 0px;
    font-size: 15px;
  }
  
  .card-nobootstrap-text a {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.5px;
    display: inline-block;
    background-color: #2c5398;
    padding: 10px 18px;
  }
  
  .card-nobootstrap-text a:hover {
    background-color: #203e72;
    transition: 1s ease;
  }
  
  @media screen and (max-width: 1250px) {
    .card-nobootstrap {
      width: 80%;
      margin: 50px auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .card-nobootstrap {
      width: 80%;
      margin: 50px auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
      
    }
  }
  
  @media screen and (max-width: 500px) {
    .card-nobootstrap p{
      line-height: 25px;
    }
  
    .card-nobootstrap-background h1 {
      font-size: 25px;
    }
  }
  
  
  /* Page Content */
  
  .blog {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  
  .blog .blog-head h1 {
    color: #660000 ;
    font-size: 55px;
    letter-spacing: 2px;
    margin-bottom: 8px;
    text-align: center;
  }
  
  .blog .blog-head p {
    font-size: 25px;
    text-align: center;
  }
  
  .blog-container {
    display: flex;
    align-items: center;
   
    margin-top: 20px;
    box-shadow: 3px 4px 3px 3px rgba(0, 0, 0, 0.348);
  }
  
  .blog-content {
    width: 100%;
    margin-left: 30px;
  }
  
  .blog-content h2 {
    padding: 10px;
  }
  
  .blog-content p {
    padding: 10px;
  }
  
  .blog-image {
    height: 280px;
    width: 23%;
    background-color: #707b8e;
  }
  
  .blog .blog-img-one {
    background-image: url("https://cdn.discordapp.com/attachments/1008538732942598205/1087547449062719498/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .blog .blog-img-two {
    background-image: url("https://ilhasmaldivas.com.br/wp-content/uploads/2021/10/ilhas-maldivas-galeria-vakkaru-resort-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .blog a{
    font-family: sans-serif;
    font-size: 18px;
    color: #2c5398;
    padding: 10px;
    display: inline-block;
    padding: 10px 18px;
  }
  
  .blog a:hover {
    color: #203e72;
    transition: 1s ease;
  }
  
  .blog .blog-btn-todas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .blog .blog-btn-todas a{
    font-family: sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.5px;
    display: inline-block;
    background-color: #2c5398;
    padding: 10px 18px;
  }
  
  .blog .blog-btn-todas a{
    background-color: #203e72;
    transition: 1s ease;
  }
  
  @media screen and (max-width: 900px) {
    .blog-image {
      display: none;
    }
  
    .blog-content{
      text-align: center;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 500px) {
    .blog .blog-head h1{
      font-size: 45px;
    }
  
    .blog-content h2 {
      font-size: 25px
    }
  
    .blog-content p {
      font-size: 16px;
      line-height: 25px;
    }
  }
  
  
  /* Cabeçalho */
  
  #footer {
    background: #660000;
    color: #9a9a9a;
    font-size: 0.9rem;
    padding: 50px 0;
  
  }
  
  #footer .footer-content {
   display: flex;
   width: 66%;
   margin: auto;
   justify-content: space-between;
   align-items: center;
  }
  
  #footer .footer-content .footer-menu {
    margin: 0 20px;
    width: 33%;
  }
  
  #footer .footer-content .footer-menu p{
    font-weight: bold;
    text-transform: uppercase;
    color: #c6c6c6;
    font-size: 0.9rem;
  }
  
  #footer .footer-content .footer-menu .info{
    font-size: 1.1rem;
  }
  
  #footer .footer-content .footer-menu .link:hover{
    color: #2c5398;
    cursor: pointer;
  }
  
  @media screen and (max-width: 900px) {
    #footer .footer-content {
      flex-direction: column;
      width: auto;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 25px;
    }
  
    #footer .footer-content .footer-menu {
      margin: 0px 0px 15px 0px;
    }
  }
  
  .socials {
    display: flex;
  }
  
  .socials i {
    margin: 0 20px;
    font-size: 1.5rem;
  }
  
  /* Destinos */
  #block-container .block-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    padding: 15px;
  }
  
  #block-container .block-content .block-coluna {
    display: flex;
    flex-direction: column;
    max-width: 350px;
      margin: 15px;
      background:#fff;
      box-shadow: -1px -1px 10px 10px rgba(0, 0, 0, .212);
      text-align: center;
  }
  
  #block-container .block-content .block-coluna img {
    max-height: 180px;
      width: 100%;
      border-bottom: 4px solid #2c5398;
  }
  
  
  #block-container .block-content .block-coluna .block-texto {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  
  #block-container a {
    display: inline-block;
      text-align: center;
      text-transform: uppercase;
      background:#2c5398;
      color:#fff;
      padding:5px;
      margin: 0px 10px 10px 10px;
    font-size: 15px;
  }
  
  #block-container .block-content .block-coluna .block-texto h3 {
    margin-top: 10px;
    font-size: 25px;
  }
  
  /* Restaurantes */
  
  #block-container-res .block-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    padding: 15px;
  }
  
  #block-container-res .block-content .block-coluna {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 350px;
      margin: 15px;
      background:#fff;
      box-shadow: -1px -1px 10px 10px rgba(0, 0, 0, .212);
      text-align: center;
  }
  
  #block-container-res .block-content .block-coluna img {
    min-height: 250px;
    max-height: 250px;
      width: 100%;
      border-bottom: 4px solid #2c5398;
  }
  
  #block-container-res .block-content .block-coluna .block-texto {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  
  #block-container-res a {
    display: inline-block;
      text-align: center;
      text-transform: uppercase;
      background:#2c5398;
      color:#fff;
      padding:5px;
      margin: 0px 10px 10px 10px;
    font-size: 15px;
  }
  
  #block-container-res .block-content .block-coluna .block-texto h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  #block-container-res .block-content .block-coluna .block-texto p {
    padding: 10px;
  }
  
  /* Titulo */
  .titulo-container {
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }
  
  .destinos-titulo {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0;
    text-align: center;
  }
  
  /*Login*/
  .main-container{  
    width: 90%; 
    display: flex;
    justify-content: space-around;
    margin: 2% 5%;
    padding: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 1%;
  }
  
  .card-nobootstrap-login{  
    background-color: #ffffff80;
    padding: 30px;
    border: solid 1px #00000060;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    margin: 1%;
  }
  
  #Login-H1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #203e72;
  }
  
  .float-label input{ 
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #203e72;
    background-color: transparent;
    outline: none;
    min-width: 100px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
  }
  
  .float-label{ 
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .float-label input :focus{ 
    border-bottom: 2px solid #5a86d1;
   }
  
   .float-label label{  
    color: #5a86d1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
   }
  
   .float-label input:focus + label{ 
    font-size: 13px;
    margin-top: 0;
    color: #5a86d1;
   }
  
  .button-login{  
    background-color: #203e72;
    color: #fff;
    padding: 7px;
    font-weight: 500;
    font-size: 12pt;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s ease-out;
    margin: 10px 0px 10px 0px;
  }
   
  .button-login:hover{  
    background-color: #fff;
    color: #5a86d1;
  }
  
  .cadastro-button{  
    background-color: #fff;
    border-color: solid 1px #fff;
    color: #2c5398;
    padding: 7px;
    font-weight: 500;
    font-size: 12pt;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease-out
  }
  
  .cadastro-button:hover{  
    background-color: #5a86d1;
    color: #ffffff;
  }
  
  .Justify-center{  
    display: flex;
    justify-content: center;
  }
  
  #Hr-Login{  
    margin: 10% 0;
    width: 60%;
  }
  
  #P-login{ 
    color: #5a86d1;
    font-size: 16px;
    text-align: center;
  }
  
  #A-login{ 
    color: #203e72;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease-out;
  }
  
  #A-Login:hover{ 
    color: #9ab1d7;
  }
  
  /*Cadatro*/
  
  .body-cadastro{ 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #203e72;
  }
  
  .cadastro-container{  
    width: 90%; 
    height: auto;
    display: flex;
    margin: 2% 5%;
    padding: 2%;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, .212);
    border-radius: 4%;
  }
  
  .img-formulario{  
    width: 50%;
    display: flex;
    justify-content: top;
    align-items: center;
    background-color: #637ca6;
    padding: 1rem;
    margin: 1%;
    border-radius: 4%;
  }
  
  .img-formulario img{
    width: 100%;
    height: 100%;
    align-items: center;
  }
  
  .register-form{ 
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
  }
  
  .register-title{
    font-size: 20px;
    padding: 1rem;
  }
  
  .form-header{ 
    display: flex;
    justify-content: space-between;
  }
  
  .Botao-Entrar{  
    display: flex;
    align-items: center;
  }
  
  .Botao-Entrar button{ 
    border: none;
    background-color: #5a86d1;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Botao-Entrar button:hover{ 
    background-color: #637ca6;
  }
  
  .Botao-Entrar button a{ 
    text-decoration: none;
    font-weight: 500;
    color: #fff;
  }
  
  .form-header h1::after{ 
    content: '';
    display: block; 
    width: 5rem;
    height: 0.3rem;
    background-color: #2c5398;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
  }
  
  .input-group{ 
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
    padding: 1rem;
  }
  
  .input-box{ 
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .input-box input{ 
    margin: 0.2rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #0000001c;
  }
  
  .input-box input:hover{ 
    background-color: #eeeeee75;
   }
  
   .input-box input:focus-visible{  
    outline: 1px solid #5a86d1;
   }
  
   .input-box label{  
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
    height: 1.75rem;
    padding: 0rem 0.3rem;
   }
  
   .gender-type h6{  
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
    height: 1.75rem;
    padding: 1rem;
   }
  
   .input-box input::placeholder{ 
    color: #000000be;
   }
  
   .Gender-group{ 
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0 .5rem;
   }
  
   .gender-input{ 
    display: flex;
    align-items: center;
    padding: 1rem;
   }
  
   .gender-input input{ 
    margin-right: 0.35rem;
   }
  
   .gender-input label{ 
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
   }
  
   .continue-button button{ 
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color:  #5a86d1;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
   }
  
   .continue-button button:hover{ 
    background-color: #637ca6;
   }
  
   .continue-button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500; 
    color: #fff;
   }
  
   @media screen and (max-width: 1100px) {
  
    .input-group .input-box {
      width: 100%;
    }
  }
  
   @media screen and (max-width: 650px) {
  
    .input-group .input-box {
      width: 100%;
    }
  
    .register-form {
      width: auto;
      padding: 0;
    }
  
    .cadastro-container {
      justify-content: center;
    }
    .img-formulario {
      display: none;
    }
  
    .register-form .form-header{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
   /* Hotel */
  .hotel-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 15px;
  }
  
  .hotel-card-nobootstrap {
    background-color: #f7f5f5;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.541);
    display: flex;
    margin: 10px;
  }
  
  .hotel-card-nobootstrap .hotel-card_images img {
      height: 100%;
    width: 350px;
      object-fit: cover;
  }
  
  .hotel-card_info {
    padding: 1.5rem!important;
    width: 100%;
  }
  
  .hotel-card_details {
    width: 70%;
  }
  
  .hotel-card_text {
    font-size: 15px;
    line-height: normal;
  }
  
  .hotel-card_titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hotel-card_titulo h5{
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .hotel-card_details .hotel-local{
    display: flex;
    align-items: center;
  }
  
   .hotel-card_details .hotel-local p{
    font-size: 17px;
    margin-left: 5px;
  }
  
  .hotel-card_price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hotel-card_price h3{
    font-size: 20px;
  }
  
  .btn-reservar a {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.5px;
    display: inline-block;
    background-color: #2c5398;
    padding: 7px 10px;
    border-radius: 10px;
  }
  
  .btn-reservar a:hover {
    background-color: #203e72;
    transition: 1s ease;
  }
  
  .hotel-card_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  @media screen and (max-width: 1400px) {
    .hotel-card-nobootstrap .hotel-card_images img {
      height: 100%;
      width: 250px;
      object-fit: cover;
    }
  }
  
  @media screen and (max-width: 900px) {
    .hotel-container .hotel-card-nobootstrap{
      display: flex;
      flex-direction: column;
    }
  
    .hotel-card-nobootstrap .hotel-card_images img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
  
  @media screen and (max-width: 550px) {
    .hotel-card_titulo{
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  
    .hotel-card_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    .hotel-local {
      align-items: center;
      justify-content: center;
    }
  
    .hotel-card_price {
      margin-top: 15px;
    }
  
    .hotel-card_details {
      width: auto;
  }
  }

  /*news*/
.newsletter{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--cor-azul-3);
  padding-top: 80px;
  padding-bottom: 80px;
  
}

.newsletter-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-news input{
  width: 35rem;
  margin:0.2rem 0;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  box-shadow: 1px 1px 6px var(--cor-header);
}

.form-news input:hover{
  background-color: var(--cor-gray1);
}

.form-news input:focus-visible{
  outline: 2px solid var(--cor-azul-2);
}

.newsletter-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.button-submit{
  width: 235px;
  min-height: 42px;
  border-radius: 12px;
  background: var(--cor-azul-2);
  border: none;
  color: var(--cor-gray-8);
}

.button-submit:hover{
  cursor: pointer;
  background: var(--cor-azul-4);
}
/*news-end*/

:root {
  --cor-rosa: #ff5b03;
  --cor-amarelo: #F2C027;
  --cor-azul-1: #7ae952;
  --cor-azul-2: #660000;
  --cor-azul-3: #f9a03f;
  --cor-azul-4: #598EBC;
  --cor-gray-8: #F2F2F7;
  --cor-textos: #1C1C1E;
  --cor-header: #27380e;
  --cor-gray:   #F0EEEE;
  --cor-gray1: #AEAEB2;
  --cor-branco: #FFFFFF;
  --cor-azul-5: #27380e;
  
  

  --fonte-primaria: 'Nunito', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}


/*Mapa do Google */

#map {
  height: 100%;
}